.star-rating span {
	font-size: 2em;
}
div.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

div.gallery-item {
  margin: 5px;
  width: 500px;
}

div.gallery-item:hover {
  border: 1px solid #777;
}

div.gallery-item img {
  width: 100%;
  height: auto;
}
p.imageSource {
	font-size: 10px;
}


.checklist-row {
	padding: 5px;
	display: inline-block;
	width: 20%;
}


.completed {
	background-color: red;
    text-decoration: line-through;
    color: white;
}
.next-step {
	background-color: lightgreen;
}


.checklist span {
	margin-left: 10px;
}
