.star-rating span {
	font-size: 2em;
}
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 32.25%;
  padding: 5px;
  margin: 10px;
}
.column img {
	width: 95%;
}
.column .imageSource {
	font-size: 10px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
@media screen and (max-width: 775px) {
  .column {
    width: 100%;
  }
}


.checklist-row {
	padding: 5px;
	display: inline-block;
	width: 50%;
	
}


.completed {
	background-color: red;
    text-decoration: line-through;
    color: white;
}
.next-step {
	background-color: lightgreen;
}


.checklist {
	margin-left: 10px; 
}

.images {
	max-width: 100%;
	height: auto;
}

